{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block header %}Home
{% endblock %}

{% block content %}
	{% for mix in mixes %}
		<div class="mixBox">
			<h2>{{mix.title}}</h2>
			<h3>Uploaded by
				{% for user in mix.getUser %}
					{{ user.name }}
				{% endfor %}
			</h3>
			<img src="{{asset('image/' ~ mix.cover)}}" alt="">
			<audio controls src="{{asset('audio/' ~ mix.audio)}}"></audio>
			<p>{{mix.description}}</p>
		</div>
	{% endfor %}
{% endblock %}
