{% extends 'base.html.twig' %}

{% block title %}My Land
{% endblock %}

{% block header %}
	Your mixes :
{% endblock %}

{% block content %}
	<nav>
		<button>
			<a href={{path("app_mix_new")}}>Upload a mix</a>
		</button>
	</nav>
{% for mix in mixes %}
	<div class="mixBox">
		<h2>{{mix.title}}</h2>
		<img src="{{mix.cover}}" alt="">
		<audio controls src="{{mix.audio}}"></audio>
		<p>{{mix.description}}</p>
	</div>
{% endfor %}

	{# <div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>/Applications/MAMP/htdocs/mixland/src/Controller/MixController.php</code>
			</li>
			<li>Your template at
				<code>/Applications/MAMP/htdocs/mixland/templates/mix/index.html.twig</code>
			</li>
		</ul>
	</div> #}
{% endblock %}
